


 {% block style %}   
      <style>

      

      @media(max-width:900px){
      
          #barbe h1{
              font-size:25px;
              
            }

          #barbe h2{
              font-size:20px;
            }

          #barbe h3{
              font-size:18px;
            }

          #barbe p{
              font-size:16px;
            }
          }
          
       #greffeNav #health_expert_logo {
          position:relative;
          background-image:url(https://drive.google.com/uc?export=view&id=1JHYrI8DUkyAU7PHO7QLhZxzrZq7QMzIS); 
          height: 60px;
          width:60px;
          /*width:100%;*/
         background-position: 50% 50%;
         background-repeat: no-repeat;
         /* background-attachment: fixed;*/
          background-size: cover;
          background-color: transparent;

          

          
          
        }

       /*#greffeNav #barbeOverlay{
           position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);

        }*/
        


      </style>
 
{% endblock  %}


<nav id="greffeNav" class="navbar navbar-expand-lg navbar-light py-0 cloudy-knoxville-gradient sticky-top ">

            <a class="navbar-brand pl-3 py-3" href="{{URLROOT}}/homes"> <div id="health_expert_logo"> <!-- /public/img/logo/health_expert_logo.png  -->
           
               <div class="pl-5 ml-1 pt-3 text-capitalize h4 " > Hair Experts </div> </div>
            </a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MyNavbar" >
              <span class="navbar-toggler-icon"></span>
            </button>
 
        <div class="collapse navbar-collapse" id="MyNavbar">
       
              <ul style="" class="navbar-nav pl-5 h5  ml-auto pr-5 mr-4">

                <li class="nav-item ">
                  <a class="nav-link" href="{{URLROOT}}">Accueil</a>
                </li>

                <li class="nav-item">
                      <a class="nav-link" href="{{URLROOT}}/greffe-cheveux-Turquie">Greffe Cheveux </a>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link" href="{{URLROOT}}/greffe-barbe">Greffe Barbe </a>
                </li>


                <li class="nav-item">
                  <a class="nav-link" href="{{URLROOT}}/greffe-sourcils">Greffe Sourcils </a>
                </li>

                
                <li class="nav-item">
                  <a class="nav-link" href="{{URLROOT}}/qui-sommes-nous">Qui Sommes Nous </a>
                </li> 
                
                <li class="nav-item">
                  <a class="nav-link" href="{{URLROOT}}/contact">Contact </a>
                </li>

                {# <li class="nav-item d-flex">
                  <a class="nav-link" href="{{URLROOT}}/homes/language/ar">arabic </a>
                  <a class="nav-link" href="{{URLROOT}}/homes/language/fr">french </a>
                  <a class="nav-link" href="{{URLROOT}}/homes/language/en">english</a>
                  <a class="nav-link" href="{{URLROOT}}/homes/language/en">{{lang}}----</a>
                  
                </li> #}

            </div>
        


</nav>





 
  
