

<nav  class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">

            <a class="navbar-brand pl-3" href="{{URLROOT}}/homes"> <img height="80" width="80" src="{{URLROOT}}/public/img/logo/health_expert_logo.png" class="img-fluid" alt="logo Health Experts">  
               <span class="text-capitalize h4 " > Hair Experts </span> 
            </a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MyNavbar" >
              <span class="navbar-toggler-icon"></span>
            </button>
 
        <div class="collapse navbar-collapse" id="MyNavbar">
       
              <ul style="" class="navbar-nav pl-5 h5  ml-auto pr-5 mr-4">

                <li class="nav-item active">
                  <a class="nav-link" href="{{URLROOT}}/homes">Home </a>
                </li>

                <li class="nav-item">
                      <a class="nav-link" href="{{URLROOT}}/homes/greffe_cheveux_dhi">Greffe Cheveux </a>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link" href="{{URLROOT}}/homes/greffe_barbe">Greffe Barbe </a>
                </li>


                <li class="nav-item">
                  <a class="nav-link" href="{{URLROOT}}/homes/greffe_sourcils">Greffe Sourcils </a>
                </li>

                
                <li class="nav-item">
                  <a class="nav-link" href="{{URLROOT}}/homes/qui_sommes_nous">Qui Sommes Nous </a>
                </li> 
                
                <li class="nav-item">
                  <a class="nav-link" href="{{URLROOT}}/homes/contact">Contact </a>
                </li>

                {# <li class="nav-item d-flex">
                  <a class="nav-link" href="{{URLROOT}}/homes/language/ar">arabic </a>
                  <a class="nav-link" href="{{URLROOT}}/homes/language/fr">french </a>
                  <a class="nav-link" href="{{URLROOT}}/homes/language/en">english</a>
                  <a class="nav-link" href="{{URLROOT}}/homes/language/en">{{lang}}----</a>
                </li> #}

            </div>
        


</nav>





 
  
