<!-- lead_form_fix-->


{# visible on xl and below  #}
   <section  class=" text-center p-5 ">
    

          <form 
          style=" 
           
            
            background:rgba(55,166,222,.9);
            
            border-radius:10px;
            
            " 
          id="lead_form_float" 
          action="{{URLROOT}}/homes" method="post"
           class="form p-3 d-block d-lg-none ">
      
                
                 <h4 class="text-center white-text mb-4" >Demander un devis </h4>
                 
                      <div class="form-group">
                          <input type="text" name="name" class="form-control mb-2  {{ data.name_err == ''? '': 'is-invalid'  }}"   placeholder="Veuillez entrer votre nom complet">
                          <div class="invalid-feedback"> {{data.name_err }} </div>
                      </div>

                      <div class="form-group">
                            <input type="email" name="email" class="form-control mb-2 {{ data.email_err =='' ? '': 'is-invalid'  }}"  placeholder="Veuillez entrer votre email">
                            <div class="invalid-feedback">{{data.email_err }}</div>
                      </div>
                      
                      <div class="form-group">
                            <input type="text" name="tel" class="form-control mb-2 {{ data.email_err =='' ? '': 'is-invalid'  }}"  placeholder="Veuillez entrer votre numéro de téléphone">
                            <div class="invalid-feedback">{{data.email_err }}</div>
                      </div>
                      
                       <div class="form-group">
                            <input type="text" name="intervention" class="form-control mb-2 {{ data.email_err =='' ? '': 'is-invalid'  }}"  placeholder="Intervention souhaitée">
                            <div class="invalid-feedback">{{data.email_err }}</div>
                      </div>
                      
                      
                      <button 
                        style="margin-top:-4px;border-radius:8px" 
                        class="ml-4 btn blue white-text darken-2  ">
                        Envoyer
                        </button>
          </form>

          <div class="row ">
                      <div class="col-md-10 ml-3 green-text   ">
                      {{register_success}}
                  </div>
        </div>
      </div>
    </div>
  </section>

