<!-- NEWSLETTER -->
<!-- newsletter -->
  <section id="newsletter" class="text-center p-5 blue-gradient text-white">
    <div class="container pb-5 ">
      <div class="row">
        <div class="col">

          <h1 class="mb-3">Inscrivez-vous à notre Newsletter</h1>

          

          <form id="newslater_form" action="{{URLROOT}}/homes/newsletter" method="post" class="form-row justify-content-center needs-validation">
      
                <div class="row">

                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" name="name" class="form-control mb-2  {{ data.name_err == ''? '': 'is-invalid'  }}"   placeholder="veuillez entrer votre nom ">
                          <div class="invalid-feedback"> {{data.name_err }} </div>
                      </div>
                    </div>

                    <div class="col-md-6">

                      <div class="form-group">
                            <input type="email" name="email" class="form-control mb-2 {{ data.email_err =='' ? '': 'is-invalid'  }}"  placeholder="veuillez entrer votre email">
                            <div class="invalid-feedback">{{data.email_err }}</div>
                      </div>
                      
                    </div>
                    
               
                </div>

                   <div class="row ">
                      <div class="col-md-6">
                          <button 
                              style="  margin-top:-4px; " 
                              class="ml-4 btn blue white-text rounded">
                              Envoyer
                          </button>
                        
                  </div>
                  </div>

                   

          </form>

          <div class="row ">
                      <div class="col-md-10 ml-3 green-text   ">
                      {{register_success}}
                  </div>
        </div>
      </div>
    </div>
  </section>

