<!-- PHOTO GALLERY -->
<!-- photo_gallery_section -->
  <section id="gallery" class="py-5">
    <div class="container">
      <h1 class="text-center">PHOTOS AVANT APRES </h1>
      <p class="text-center">Voyez les résultats</p>
      <div class="row mb-4">
        <div class="col-md-4">
          <a href="{{URLROOT}}/public/img/gallery/gallery1.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="560"
            data-width="560">
            <img src="{{URLROOT}}/public/img/gallery/gallery1.jpg" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="{{URLROOT}}/public/img/gallery/gallery2.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
            data-width="561">
            <img src="{{URLROOT}}/public/img/gallery/gallery2.jpg" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="{{URLROOT}}/public/img/gallery/gallery3.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
            data-width="562">
            <img src="{{URLROOT}}/public/img/gallery/gallery3.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>


      <div class="row mb-4">
        <div class="col-md-4">
          <a href="{{URLROOT}}/public/img/gallery/gallery4.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="563"
            data-width="563">
            <img src="{{URLROOT}}/public/img/gallery/gallery4.jpg" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="{{URLROOT}}/public/img/gallery/gallery5.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
            data-width="564">
            <img src="{{URLROOT}}/public/img/gallery/gallery5.jpg" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="{{URLROOT}}/public/img/gallery/gallery6.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="565"
            data-width="565">
            <img src="{{URLROOT}}/public/img/gallery/gallery6.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </section>